{% load static %}
<li>
                <a href="#chat2" class="filter groups" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat2" aria-selected="false">
                    <div class="content">
                        <div class="headline">
                            <img src="{% static 'test/avatar-male-1.jpg'%}" alt="avatar">
                            <h5>The Musketeers</h5>
                            <span>Today</span>
                        </div>
                        <p>Please review and sign the binding agreement.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat2" class="filter groups" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat2" aria-selected="false">
                    <div class="content">
                        <div class="headline">
                            <img src="{% static 'test/avatar-male-2.jpg'%}" alt="avatar">
                            <h5>Watts Up</h5>
                            <span>Today</span>
                        </div>
                        <p>Additional information about the previous clients.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat2" class="filter groups" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat2" aria-selected="false">
                    <div class="content">
                        <div class="headline">
                            <img src="{% static 'test/avatar-male-3.jpg'%}" alt="avatar">
                            <h5>Memes</h5>
                            <span>Feb 23</span>
                        </div>
                        <p>I'm looking to get a quote for the move from LA to NY.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat2" class="filter groups" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat2" aria-selected="false">
                    <div class="content">
                        <div class="headline">
                            <img src="{% static 'test/avatar-male-4.jpg'%}" alt="avatar">
                            <h5>Supernovas</h5>
                            <span>Jan 18</span>
                        </div>
                        <p>My delivery address is pending final confirmation.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat2" class="filter groups" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat2" aria-selected="false">
                    <div class="content">
                        <div class="headline">
                            <img src="{% static 'test/avatar-male-5.jpg'%}" alt="avatar">
                            <h5>Squad Ghouls</h5>
                            <span>May 2</span>
                        </div>
                        <p>Sending all the requested insurance documents.</p>
                    </div>
                </a>
            </li>