
{% load static %}

    <div class="top">
        <form>
            <input type="search" class="form-control" placeholder="Search">
            <button type="submit" class="btn prepend"><i data-eva="search"></i></button>
        </form>
        <ul class="nav" role="tablist">
            <li><a href="#direct" class="filter-btn active" data-toggle="tab" data-filter="direct">Direct</a></li>
            <li><a href="#groups" class="filter-btn" data-toggle="tab" data-filter="groups">Groups</a></li>
        </ul>
    </div>
    <div class="middle">
        <h4>Discussions</h4>
        <button type="button" class="btn round" data-toggle="modal" data-target="#compose"><i
                                    data-eva="edit-2"></i></button>
        <hr>
        <ul class="nav discussions" role="tablist">
            <li>
                <a href="#chat1" class="filter direct active" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="true">
                    <div class="status online"><img src="{% static 'test/avatar-male-1.jpg'%}" alt="avatar"><i data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <div class="headline">
                            <h5>Ham Chuwon</h5>
                            <span>Today</span>
                        </div>
                        <p>Please review and sign the binding agreement.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat1" class="filter direct" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="false">
                    <div class="status offline"><img src="{% static 'test/avatar-male-2.jpg'%}" alt="avatar"><i data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <div class="headline">
                            <h5>Quincy Hensen</h5>
                            <span>Today</span>
                        </div>
                        <p>Additional information about the previous clients.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat1" class="filter direct" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="false">
                    <div class="status online"><img src="{% static 'test/avatar-male-3.jpg'%}" alt="avatar"><i data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <div class="headline">
                            <h5>Mark Hog</h5>
                            <span>Feb 23</span>
                        </div>
                        <p>I'm looking to get a quote for the move from LA to NY.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat1" class="filter direct" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="false">
                    <div class="status offline"><img src="{% static 'test/avatar-male-4.jpg'%}" alt="avatar"><i data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <div class="headline">
                            <h5>Sanne Viscaal</h5>
                            <span>Jan 18</span>
                        </div>
                        <p>My delivery address is pending final confirmation.</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#chat1" class="filter direct" data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" aria-selected="false">
                    <div class="status offline"><img src="{% static 'test/avatar-male-5.jpg'%}" alt="avatar"><i data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <div class="headline">
                            <h5>Alex Just</h5>
                            <span>May 2</span>
                        </div>
                        <p>Sending all the requested insurance documents.</p>
                    </div>
                </a>
            </li>
            {% include 'polls/nghich.html'  %}
        </ul>
    </div>


