    {% load static %}
            <h4>Users</h4>
            <hr>
            <ul class="users">
                <li>
                    <div class="status online"><img src="{% static 'test/avatar-male-1.jpg'%}" alt="avatar"><i
                            data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <h5>Ham Chuwon</h5>
                        <span>Florida, US</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i data-eva="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item">Edit</button>
                            <button type="button" class="dropdown-item">Share</button>
                            <button type="button" class="dropdown-item">Delete</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status offline"><img src="{% static 'test/avatar-male-2.jpg'%}" alt="avatar"><i
                            data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <h5>Quincy Hensen</h5>
                        <span>Shanghai, China</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i data-eva="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item">Edit</button>
                            <button type="button" class="dropdown-item">Share</button>
                            <button type="button" class="dropdown-item">Delete</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status online"><img src="{% static 'test/avatar-male-3.jpg'%}" alt="avatar"><i
                            data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <h5>Mark Hog</h5>
                        <span>Olso, Norway</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i data-eva="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item">Edit</button>
                            <button type="button" class="dropdown-item">Share</button>
                            <button type="button" class="dropdown-item">Delete</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status offline"><img src="{% static 'test/avatar-male-4.jpg'%}" alt="avatar"><i
                            data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <h5>Sanne Viscaal</h5>
                        <span>Helena, Montana</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i data-eva="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item">Edit</button>
                            <button type="button" class="dropdown-item">Share</button>
                            <button type="button" class="dropdown-item">Delete</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status offline"><img src="{% static 'test/avatar-male-5.jpg'%}" alt="avatar"><i
                            data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <h5>Alex Just</h5>
                        <span>London, UK</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i data-eva="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item">Edit</button>
                            <button type="button" class="dropdown-item">Share</button>
                            <button type="button" class="dropdown-item">Delete</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status online"><img src="{% static 'test/avatar-male-6.jpg'%}" alt="avatar"><i
                            data-eva="radio-button-on"></i></div>
                    <div class="content">
                        <h5>Arturo Thomas</h5>
                        <span>Vienna, Austria</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i data-eva="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item">Edit</button>
                            <button type="button" class="dropdown-item">Share</button>
                            <button type="button" class="dropdown-item">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>